# Node
node_modules/

# Environment
.env

# Mac
.DS_Store

# Logs
*.log

# Git internals (extra segurança)
FETCH_HEAD

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
